@charset "utf-8";/* OpenWan CSS <thinkgem@163.com> */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style:none;}caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}abbr,acronym{border:0;}
object:focus{outline: none;star:expression(this.onFocus=this.blur());}
body{font-size:12px;font-family: Verdana, Geneva, sans-serif;background-color:#fff;color:#282828;}
a:link,a:visited{color:#282828;text-decoration:none;}
a:hover,a:active{color:#f00;text-decoration:underline;}
.clear{clear:both;height:0px;display:block;}.clear10{clear:both;height:10px;display:block;}
.inline{display:inline;}.pointer{cursor:pointer;}
.left{float:left;}.right{float:right;}
.show{display:block;}.hide{display:none;}
.f12{font-size:12px;}.f14{font-size:14px;}
.tl{text-align:left;}.tr{text-align:right;}.tc{text-align:center;}.tm{vertical-align:middle;}
.m10{margin:10px;}.mt10{margin-top:10px;}.ml10{margin-left:10px;}
.p5{padding:5px;}.p10{padding:10px;}.pt0{padding-top:0;}
/* Layout 980, 150 820, 200 770, 200 380 380, 200 430 260ï¼Œ200 385 375 */
.w980{width:980px;}
.w150{width:150px;}.w820{width:820px;}
.w200{width:200px;}.w770{width:770px;}.w380{width:380px;_width:378px;}
.w428{width:428px;}.w332{width:332px;}
.w385{width:385px;}.w375{width:375px;}
.w50{width:50px;}.w70{width:70px;}.w100{width:100px;}.w250{width:250px;}
.w255{width:255px;}.w260{width:260px;}.w350{width:350px;}
/* Form */
.txt,.btn{padding:2px;margin:2px;margin-left:0;border:1px solid;border-color:#666 #ccc #ccc #666;background:#f9f9f9;color:#333;vertical-align:middle;}
.txt:hover, .txt:focus {border-color: #09c;background: #f5f9fd;}
.btn {padding:2px 5px;padding:4px 5px 1px\9;margin:3px 0;border-color:#ddd #666 #666 #ddd;background:#ddd;color:#000;cursor:pointer;margin-right:8px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.lbl {font-weight:bold;color:#666;} .req, .error {color:#c00;font-weight:bold;} .desc {color:#aaa;}
/* Radius */
.rtl0{-moz-border-radius-topleft:0;-khtml-border-top-left-radius:0;-webkit-border-top-left-radius:0;border-top-left-radius:0;}
.rtr0{-moz-border-radius-topright:0;-khtml-border-top-right-radius:0;-webkit-border-top-right-radius:0;border-top-right-radius:0;}
.rbl0{-moz-border-radius-bottomleft:0;-khtml-border-bottom-left-radius:0;-webkit-border-bottom-left-radius:0;border-bottom-left-radius:0;}
.rbr0{-moz-border-radius-bottomright:0;-khtml-border-bottom-right-radius:0;-webkit-border-bottom-right-radius:0;border-bottom-right-radius:0;}
.r3{-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.r5{-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.r10{-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}