.progressWrapper{width:357px;overflow:hidden;}
.progressContainer{margin:5px;padding:4px;border:solid 1px #E8E8E8;background-color:#F7F7F7;overflow:hidden;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.progressName{font-size:10pt;font-weight:700;color:#555;width:323px;height:20px;text-align:left;white-space:nowrap;overflow:hidden;}
.progressBarInProgress,.progressBarComplete,.progressBarError{font-size:0;width:0%;height:2px;background-color:blue;margin-top:2px;}
.progressBarComplete{width:100%;background-color:green;visibility:hidden;}
.progressBarError{width:100%;background-color:red;visibility:hidden;}
.progressBarStatus{margin-top:2px;width:337px;font-size:9pt;font-family:Arial;text-align:left;white-space:nowrap;}
a.progressCancel{font-size:0;display:block;height:14px;width:14px;background:url(../img/cancelbutton.gif) -14px 0px no-repeat;float:right;}
a.progressCancel:hover{background-position:0px 0px;}
.swfupload{vertical-align:top;position:absolute;z-index:1;}
/* Message */
.message{padding:10px 20px;border:solid 1px #FFDD99;background-color:#FFFFCC;overflow:hidden;}
/* Error */
.red{border:solid 1px #B50000;background-color:#FFEBEB;}
/* Current */
.green{border:solid 1px #DDF0DD;background-color:#EBFFEB;}
/* Complete */
.blue{border:solid 1px #CEE2F2;background-color:#F0F5FF;}